@charset "UTF-8";

html{
  height: 100%;
  min-height: 100%;
}
body{
  font-family: 'Noto Serif JP', serif;
  color: #201d21;
  height: 100%;
  min-height: 100%;
}
main{
  display: flex;
  min-height: 100vh;
}
h2{
  margin-bottom: 1rem;
}

/************************
* common
*************************/
.d-none{
  display: none;
}
.text-bold {
  font-weight: bold;
}
.text-left{
  text-align: left;
}

/************************************************
*左側（メニュー）
*************************************************/
main .left{
  min-width: 230px;
  background: #eae3dc;
}
/*運行情報*/
main .left .diainfo {
  width: 190px;
  font-weight: bold;
  margin: 2rem auto 3rem;
  padding: 1rem 1rem ;
  border: solid 3px #000;
  background: #fff;
}
main .left .diainfo dl {
  font-size: 0.9rem;
  display: flex;
  padding: 0.3rem 0 1.5rem 0;
}
main .left .diainfo dl dd{
  padding-left: 1rem;
}
main .left .diainfo p{
  font-size: 0.9rem;
}
main .left ul {
  list-style-type: "■";
  width: 150px;
  margin: 0 auto;
  font-size: 1rem;
}
main .left ul li {
  padding-bottom: 1.5rem;
  cursor:pointer;
}

/************************************************
* 真ん中の線（frameっぽさ意識）
*************************************************/
main .border{
  position: fixed;
  left: 230px;
  z-index: 2;
  width: 5px;
  height: 100vh;
  background: #ccc;
  border-right: 1px double #000;
  border-left: 1px double #000;
}

/************************************************
* 右側（メイン）
*************************************************/
main .right{
  width: calc(82% - 5px);
  padding-top: 2rem;
  padding-left: 5px;
  min-width: 797px;
  min-height: 100vh;
  background-image:url('../image/OharaibakoLine.jpg');
  background-repeat: repeat;
  background-position: left -12% top -8%;
  text-align: center;
}
main .right .img_area{
  display: flex;
  justify-content: center;
}
main .right img{
  object-fit: contain;
}
main .right .text{
  font-size: 1.6rem;
  font-weight: bold;
}

/**  TOP画面（初期表示） **/
main .right #right_top .top_image2{
  width: 70%;
  margin: 1rem auto 0;
  background: #fff;
}
/* 文字を左右に動かす
https://www.kipure.com/article/213/
*/
main .right #right_top .moving_text {
  position: relative;
  width: 100%;
  height: 2rem;
  top: 0px;
  display: block;
  color: blue;
  font-weight: bold;
}
main .right #right_top .moving_text .wrap{
	display: block;
  position: absolute;
  top: 20px;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-duration: 15s;
  animation-iteration-count: 1;
	margin-right: -5.5rem;
}
main .right #right_top .moving_text .wrap .item{
  width: 12rem;
  display: block;
  position: relative;
}
main .right #right_top .moving_text .wrap .item.anime{
  animation-name: upDown;
  animation-iteration-count: infinite;
  animation-duration: 0.1s;
  animation-direction: alternate;
  animation-timing-function: steps(2);
  transition-duration: .3s;
  transition-property: transform;
}
main .right #right_top .moving_text .wrap[data-order="left"] {
    animation-name: GoLeft;
}
main .right #right_top .moving_text .wrap[data-order="right"] {
    animation-name: GoRight;
}
@keyframes GoLeft {
    0% {
        right: 10%;
    }
    100% {
        right: 90%;
    }
}
@keyframes GoRight {
    0% {
        right: 90%;
    }
    100% {
        right: 10%;
    }
}
@keyframes upDown {
    0% {
        top: 0;
    }
    100% {
        top: 3px;
    }
}
/* 文字を左右に動かす ここまで */
main .right #right_top .text p {
  padding-bottom: 1rem;
}
main .right #right_top .text:not(.embrem){
  padding: 3rem 0 1rem;
}
main .right #right_top .embrem{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #163f54;
}
main .right #right_top .embrem img{
  width: 120px;
}
/**  TOP画面（初期表示） ここまで **/

/**  企画概要 **/
main .right #right_summary .img_area>img{
  margin-bottom: 1rem;
  width: 70%;
}
@media screen and ( max-width:1150px) {
  /*　画面サイズが750px以下はここを読み込む　*/
  main .right #right_summary .img_area>img{
    width: 85%;
  }
}
/**  企画概要 ここまで **/

/**  採用情報 **/
main .right #right_recruit .img_area:not(.uniform)>div{
  margin-bottom: 1rem;
  width: 70%;
}
@media screen and ( max-width:1150px) {
  /*　画面サイズが750px以下はここを読み込む　*/
  main .right #right_recruit .img_area:not(.uniform)>div{
    width: 85%;
  }
}
main .right #right_recruit .text{
  padding: 2rem 5rem;
}
main .right #right_recruit .uniform{
  padding-top: 1rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}
main .right #right_recruit .uniform>div{
  margin-bottom: 1rem;
  width: 65%;
}
/**  採用情報 ここまで **/

/**  路線図 **/
main .right #right_rosenzu .img_area>div{
  margin-bottom: 1rem;
  width: 70%;
}
@media screen and ( max-width:1150px) {
  /*　画面サイズが750px以下はここを読み込む　*/
  main .right #right_rosenzu .img_area>div{
    width: 85%;
  }
}
/**  路線図 ここまで **/

/**  駅設備のご紹介 **/
main .right #right_equipment ul{
  text-align: left;
  margin-left: 4rem;
}
main .right #right_equipment ul li{
  padding-bottom: 0.5rem;
}
/**  駅設備のご紹介 ここまで **/

/**  各駅へのアクセス **/
main .right #right_acess>:not(h2){
  text-align: left;
  margin-left: 4rem;
}
/**  各駅へのアクセス ここまで **/

/**  Q＆A **/
main .right #right_qa>div{
  text-align: left;
  margin-left: 4rem;
  padding-bottom: 1rem;
}
main .right #right_qa dl{
  padding-bottom: 0.5rem;
  display: flex;
}
main .right #right_qa dl dt{
  width: 2rem;
  font-weight: bold;
}
main .right #right_qa dl dt::after{
  content: "：";
  font-weight: bold;
}
/**  Q＆A ここまで **/

/**  お問い合わせ **/
main .right #right_contact>div{
  text-align: left;
  margin-left: 4rem;
}
/**  お問い合わせ ここまで **/
